:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-bg-color: #2e2f42;
  --dark-bg-70-color: rgba(46, 47, 66, 0.7);
  --dark-bg-40-color: rgba(46, 47, 66, 0.4);
  --succes-100-color: #31d0aa;
  --succes-75-color: rgba(49, 208, 170, 0.75);
  --succes-50-color: rgba(49, 208, 170, 0.5);
  --succes-10-color: rgba(49, 208, 170, 0.1);
  --main-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-bg-color: #f4f4fd;
  --primary-bg-color: #e5e5e5;
  --white-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
  font-size: 16px;
  letter-spacing: 0.02em;
}

.header {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.accent-logo {
  color: var(--primary-brand-color);
}
.logo-hd {
  color: var(--dark-bg-color);
}
.logo-ft {
  color: var(--light-bg-color);
}
.navigation {
  font-weight: 500;
  line-height: 1.5;

  color: var(--dark-bg-color);
}
.navigation-list .links.current {
  color: var(--pressed-state-color);
}
.navigation-list .links:active {
  color: var(--pressed-state-color);
}

.contacts {
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contacts-link {
  color: var(--main-text-color);
}
.contacts-link:hover {
  color: var(--pressed-state-color);
}
.contacts-link:focus {
  color: var(--pressed-state-color);
}
.contacts:hover {
  color: var(--pressed-state-color);
}
.contacts:focus {
  color: var(--pressed-state-color);
}

.links {
  text-decoration: none;
  color: var(--dark-bg-color);
}
.list {
  list-style: none;
}
.main-section {
  background-color: var(--dark-bg-color);
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-color);
}
.main-btn {
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.second-btn {
  background: var(--light-bg-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--pressed-state-color);
}
.btn:hover {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}
.btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}
.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-bg-color);
}
.benefits-txt {
  line-height: 1.3;
  color: var(--main-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-bg-color);
}
.object-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: -var(--dark-bg-color);
}
.object-descr {
  line-height: 1.3;
  color: var(--main-text-color);
}
.team {
  background-color: var(--light-bg-color);
}
.footer {
  background-color: var(--dark-bg-color);
}
.footer-txt {
  line-height: 1.3;
  color: var(--accent-color);
}
