/* Main text color #434455 */
/* Main white color #FFFFFF */
/* Main title background color #2E2F42 */
/* Accent color #4D5AE5 */
/* Primary background color #E5E5E5 */
/* Secondary background color #F4F4FD */
/* Footer text color #E7E9FC */
/* Button background color #404BBF */

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-bg-color: #2e2f42;
  --dark-bg-70-color: rgba(46, 47, 66, 0.7);
  --dark-bg-40-color: rgba(46, 47, 66, 0.4);
  --succes-100-color: #31d0aa;
  --succes-75-color: rgba(49, 208, 170, 0.75);
  --succes-50-color: rgba(49, 208, 170, 0.5);
  --succes-10-color: rgba(49, 208, 170, 0.1);
  --main-text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-bg-color: #f4f4fd;
  --primary-bg-color: #e5e5e5;
  --white-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}

.header {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.accent-logo {
  color: var(--primary-brand-color);
}
.logo-light {
  color: var(--light-bg-color);
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark-bg-color);
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.links {
  text-decoration: none;
}
.list {
  text-decoration: none;
}
.main-section {
  background-color: var(--dark-bg-color);
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.main-btn {
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark-bg-color);
}
.benefits-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-bg-color);
}
.object-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: -var(--dark-bg-color);
}
.object-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.footer{
    background-color: var(--dark-bg-color);
}
.footer-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
